{% extends 'partial/base.html' %}
{% block content %}
{%  include 'partial/topnav.html' %}
<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-11 offset-md-1 ">
            <table class="table bg-white">
                <thead class="bg-dark">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for staff in user %}
                    <tr>
                        <th scope="row"><a class="btn btn-dark btn-sm" href="">View</a></th>
                        <td>{{staff.first_name}}</td>
                        <td>{{staff.last_name}}</td>
                        <td>{{staff.username}}</td>
                    </tr>
                    {% endfor  %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock  %}